<a href="https://colab.research.google.com/github/urvashiramdasani/ML-DL-Python/blob/master/ML/Vaccination_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A notbook containing the code for predicting vaccinations of people as a part of IEEE USICT Data Hack Competition.

Submitted by - Urvashi Ramdasani

In [1]:
# Load the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
# Load Data

data = pd.read_csv('Training_set.csv')
data.head()

   Unnamed: 0  respondent_id  ...  h1n1_vaccine  seasonal_vaccine
0        1516           1516  ...             0                 0
1        6208           6208  ...             0                 0
2        9428           9428  ...             0                 0
3       22764          22764  ...             0                 1
4        1738           1738  ...             1                 1

[5 rows x 39 columns]

In [10]:
data = data.drop('Unnamed: 0', axis = 1)
data.head()

   respondent_id  h1n1_concern  ...  h1n1_vaccine  seasonal_vaccine
0           1516           1.0  ...             0                 0
1           6208           1.0  ...             0                 0
2           9428           3.0  ...             0                 0
3          22764           2.0  ...             0                 1
4           1738           2.0  ...             1                 1

[5 rows x 38 columns]

In [32]:
# Data Preprocessing

X = data.drop(['respondent_id', 'h1n1_vaccine', 'seasonal_vaccine'], axis = 1)
X.head()

   h1n1_concern  h1n1_knowledge  ...  employment_industry  employment_occupation
0           1.0             1.0  ...             wlfvacwt               xtkaffoo
1           1.0             1.0  ...                  NaN                    NaN
2           3.0             2.0  ...             fcxhlnwr               mxkfnird
3           2.0             1.0  ...             fcxhlnwr               haliazsg
4           2.0             2.0  ...             fcxhlnwr               cmhcxjea

[5 rows x 35 columns]

In [33]:
y = data[['h1n1_vaccine', 'seasonal_vaccine']]
y.head()

   h1n1_vaccine  seasonal_vaccine
0             0                 0
1             0                 0
2             0                 0
3             0                 1
4             1                 1

In [34]:
X.describe()

       h1n1_concern  h1n1_knowledge  ...  household_adults  household_children
count  21631.000000    21609.000000  ...      21500.000000        21500.000000
mean       1.616476        1.261882  ...          0.885488            0.535581
std        0.910622        0.616966  ...          0.750585            0.930282
min        0.000000        0.000000  ...          0.000000            0.000000
25%        1.000000        1.000000  ...          0.000000            0.000000
50%        2.000000        1.000000  ...          1.000000            0.000000
75%        2.000000        2.000000  ...          1.000000            1.000000
max        3.000000        2.000000  ...          3.000000            3.000000

[8 rows x 23 columns]

In [35]:
X.isna().sum()

h1n1_concern                      77
h1n1_knowledge                    99
behavioral_antiviral_meds         58
behavioral_avoidance             169
behavioral_face_mask              16
behavioral_wash_hands             33
behavioral_large_gatherings       72
behavioral_outside_home           66
behavioral_touch_face            100
doctor_recc_h1n1                1737
doctor_recc_seasonal            1737
chronic_med_condition            794
child_under_6_months             679
health_worker                    667
health_insurance                9999
opinion_h1n1_vacc_effective      327
opinion_h1n1_risk                320
opinion_h1n1_sick_from_vacc      321
opinion_seas_vacc_effective      381
opinion_seas_risk                425
opinion_seas_sick_from_vacc      444
age_group                          0
education                       1176
race                               0
sex                                0
income_poverty                  3622
marital_status                  1181
rent_or_own                     1704
employment_status               1217
hhs_geo_region                     0
census_msa                         0
household_adults                 208
household_children               208
employment_industry            10868
employment_occupation          10977
dtype: int64

In [38]:
# Missing Value Treatment - Replace with mode

for x in X.columns:
  X[x] = X[x].fillna(X[x].mode()[0])

In [39]:
X.isna().sum()

h1n1_concern                   0
h1n1_knowledge                 0
behavioral_antiviral_meds      0
behavioral_avoidance           0
behavioral_face_mask           0
behavioral_wash_hands          0
behavioral_large_gatherings    0
behavioral_outside_home        0
behavioral_touch_face          0
doctor_recc_h1n1               0
doctor_recc_seasonal           0
chronic_med_condition          0
child_under_6_months           0
health_worker                  0
health_insurance               0
opinion_h1n1_vacc_effective    0
opinion_h1n1_risk              0
opinion_h1n1_sick_from_vacc    0
opinion_seas_vacc_effective    0
opinion_seas_risk              0
opinion_seas_sick_from_vacc    0
age_group                      0
education                      0
race                           0
sex                            0
income_poverty                 0
marital_status                 0
rent_or_own                    0
employment_status              0
hhs_geo_region                 0
census_msa                     0
household_adults               0
household_children             0
employment_industry            0
employment_occupation          0
dtype: int64

In [40]:
X.head()

   h1n1_concern  h1n1_knowledge  ...  employment_industry  employment_occupation
0           1.0             1.0  ...             wlfvacwt               xtkaffoo
1           1.0             1.0  ...             fcxhlnwr               xtkaffoo
2           3.0             2.0  ...             fcxhlnwr               mxkfnird
3           2.0             1.0  ...             fcxhlnwr               haliazsg
4           2.0             2.0  ...             fcxhlnwr               cmhcxjea

[5 rows x 35 columns]

In [48]:
# Categorical Variable Treatment

X['age_group'].unique()

array(['65+ Years', '55 - 64 Years', '45 - 54 Years', '18 - 34 Years',
       '35 - 44 Years'], dtype=object)

In [49]:
ages = {'65+ Years' : 0, '55 - 64 Years' : 1, '45 - 54 Years' : 2, '18 - 34 Years' : 3, '35 - 44 Years' : 4}
X['age_group'] = X['age_group'].map(ages)

In [51]:
X['education'].unique()

array(['Some College', '< 12 Years', 'College Graduate', '12 Years'],
      dtype=object)

In [52]:
edu = {'Some College' : 0, '< 12 Years' : 1, 'College Graduate' : 2, '12 Years' : 3}
X['education'] = X['education'].map(edu)

In [53]:
X.race.unique()

array(['White', 'Black', 'Hispanic', 'Other or Multiple'], dtype=object)

In [54]:
race = {'White' : 0, 'Black' : 1, 'Hispanic' : 2, 'Other or Multiple' : 3}
X['race'] = X['race'].map(race)

In [55]:
X.sex.unique()

array(['Female', 'Male'], dtype=object)

In [56]:
sex = {'Female' : 0, 'Male' : 1}
X['sex'] = X['sex'].map(sex)

In [57]:
X.income_poverty.unique()

array(['<= $75,000, Above Poverty', '> $75,000', 'Below Poverty'],
      dtype=object)

In [59]:
income = {'<= $75,000, Above Poverty' : 0, '> $75,000' : 1, 'Below Poverty' : 2}
X['income_poverty'] = X['income_poverty'].map(income)

In [60]:
X.marital_status.unique()

array(['Not Married', 'Married'], dtype=object)

In [61]:
mar = {'Not Married' : 0, 'Married' : 1}
X.marital_status = X.marital_status.map(mar)

In [62]:
X.rent_or_own.unique()

array(['Own', 'Rent'], dtype=object)

In [64]:
roo = {'Own' : 0, 'Rent' : 1}
X.rent_or_own = X.rent_or_own.map(roo)

In [66]:
X.employment_status.unique()

array(['Employed', 'Not in Labor Force', 'Unemployed'], dtype=object)

In [67]:
employ = {'Employed' : 0, 'Not in Labor Force' : 1, 'Unemployed' : 2}
X.employment_status = X.employment_status.map(employ)

In [68]:
X.hhs_geo_region.unique()

array(['lzgpxyit', 'oxchjgsf', 'qufhixun', 'mlyzmhmf', 'kbazzjca',
       'fpwskwrf', 'lrircsnp', 'bhuqouqj', 'dqpwygqj', 'atmpeygn'],
      dtype=object)

In [69]:
hhs = {'lzgpxyit' : 0, 'oxchjgsf' : 1, 'qufhixun' : 2, 'mlyzmhmf' : 3, 'kbazzjca' : 4, 'fpwskwrf' : 5, 'lrircsnp' : 6, 'bhuqouqj' : 7, 
       'dqpwygqj' : 8, 'atmpeygn' : 9}
X['hhs_geo_region'] = X['hhs_geo_region'].map(hhs)

In [70]:
X.census_msa.unique()

array(['MSA, Not Principle  City', 'Non-MSA', 'MSA, Principle City'],
      dtype=object)

In [71]:
msa = {'MSA, Not Principle  City' : 0, 'Non-MSA' : 1, 'MSA, Principle City' : 2}
X.census_msa = X.census_msa.map(msa)

In [72]:
X.employment_industry.unique()

array(['wlfvacwt', 'fcxhlnwr', 'wxleyezf', 'ldnlellj', 'saaquncn',
       'xqicxuve', 'mfikgejo', 'phxvnwax', 'pxcmvdjn', 'rucpziij',
       'mcubkhph', 'arjwrbjb', 'vjjrobsf', 'atmlpfrs', 'cfqqtusy',
       'haxffmxo', 'nduyfdeo', 'dotnnunm', 'xicduogh', 'msuufmds',
       'qnlwzans'], dtype=object)

In [74]:
indus = {'wlfvacwt' : 0, 'fcxhlnwr' : 1, 'wxleyezf' : 2, 'ldnlellj' : 3, 'saaquncn' : 4, 'xqicxuve' : 5, 'mfikgejo' : 6, 'phxvnwax' : 7,
         'pxcmvdjn' : 8, 'rucpziij' : 9, 'mcubkhph' : 10, 'arjwrbjb' : 11, 'vjjrobsf' : 12, 'atmlpfrs' : 13, 'cfqqtusy' : 14, 'haxffmxo' : 15,
         'nduyfdeo' : 16, 'dotnnunm' : 17, 'xicduogh' : 18, 'msuufmds' : 19, 'qnlwzans' : 20}
X.employment_industry = X.employment_industry.map(indus)

In [75]:
X.employment_occupation.unique()

array(['xtkaffoo', 'mxkfnird', 'haliazsg', 'cmhcxjea', 'emcorrxb',
       'kldqjyjy', 'ukymxvdu', 'vlluhbov', 'qxajmpny', 'hodpvpew',
       'xgwztkwe', 'bxpfxfdn', 'tfqavkke', 'oijqvulv', 'dlvbwzss',
       'hfxkjkmi', 'xzmlyyjv', 'uqqtjvyb', 'dcjcmpih', 'xqwwgdyp',
       'ccgxvspp', 'rcertsgn', 'pvmttkik'], dtype=object)

In [76]:
occ = {'xtkaffoo' : 0, 'mxkfnird' : 1, 'haliazsg' : 2, 'cmhcxjea' : 3, 'emcorrxb' : 4,
       'kldqjyjy' : 5, 'ukymxvdu' : 6, 'vlluhbov' : 7, 'qxajmpny' : 8, 'hodpvpew' : 9,
       'xgwztkwe' : 10, 'bxpfxfdn' : 11, 'tfqavkke' : 12, 'oijqvulv' : 13, 'dlvbwzss' : 14,
       'hfxkjkmi' : 15, 'xzmlyyjv' : 16, 'uqqtjvyb' : 17, 'dcjcmpih' : 18, 'xqwwgdyp' : 19,
       'ccgxvspp' : 20, 'rcertsgn' : 21, 'pvmttkik' : 22}

X.employment_occupation = X.employment_occupation.map(occ)

In [77]:
X.head()

   h1n1_concern  h1n1_knowledge  ...  employment_industry  employment_occupation
0           1.0             1.0  ...                    0                      0
1           1.0             1.0  ...                    1                      0
2           3.0             2.0  ...                    1                      1
3           2.0             1.0  ...                    1                      2
4           2.0             2.0  ...                    1                      3

[5 rows x 35 columns]

In [88]:
# Load Test Data

X_test = pd.read_csv('Test_set.csv')

In [89]:
X_test.head()

   Unnamed: 0  respondent_id  ...  employment_industry  employment_occupation
0       12051          12051  ...             arjwrbjb               xtkaffoo
1       12679          12679  ...             cfqqtusy               kldqjyjy
2       24820          24820  ...                  NaN                    NaN
3        4327           4327  ...             wxleyezf               oijqvulv
4       18727          18727  ...             wxleyezf               hodpvpew

[5 rows x 37 columns]

In [90]:
# Test Data Preprocessing

X_test['age_group'] = X_test['age_group'].map(ages)
X_test['education'] = X_test['education'].map(edu)
X_test['race'] = X_test['race'].map(race)
X_test['sex'] = X_test['sex'].map(sex)
X_test['income_poverty'] = X_test['income_poverty'].map(income)
X_test.marital_status = X_test.marital_status.map(mar)
X_test.rent_or_own = X_test.rent_or_own.map(roo)
X_test.employment_status = X_test.employment_status.map(employ)
X_test['hhs_geo_region'] = X_test['hhs_geo_region'].map(hhs)
X_test.census_msa = X_test.census_msa.map(msa)
X_test.employment_industry = X_test.employment_industry.map(indus)
X_test.employment_occupation = X_test.employment_occupation.map(occ)

In [92]:
for x in X_test.columns:
  X_test[x] = X_test[x].fillna(X_test[x].mode()[0])

In [95]:
X_test = X_test.drop(['Unnamed: 0', 'respondent_id'], axis = 1)

In [96]:
X_test.head()

   h1n1_concern  h1n1_knowledge  ...  employment_industry  employment_occupation
0           2.0             2.0  ...                 11.0                    0.0
1           2.0             1.0  ...                 14.0                    5.0
2           1.0             1.0  ...                  1.0                    0.0
3           1.0             2.0  ...                  2.0                   13.0
4           1.0             2.0  ...                  2.0                    9.0

[5 rows x 35 columns]

In [97]:
from sklearn.linear_model import LogisticRegression

In [101]:
# Train the model and predict

clf = LogisticRegression(max_iter = 200)
clf.fit(X, y['h1n1_vaccine'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [103]:
y_predicted_1 = clf.predict(X_test)

In [104]:
clf.fit(X, y['seasonal_vaccine'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [108]:
y_predicted_2 = clf.predict(X_test)

In [114]:
t = pd.read_csv('Test_set.csv')

In [117]:
csv = np.empty((len(X_test), 3))
for i in range(len(X_test)):
  csv[i][0] = t['respondent_id'][i]
  csv[i][1] = y_predicted_1[i]
  csv[i][2] = y_predicted_2[i]

In [119]:
csv_file = pd.DataFrame(csv, columns = ['respondent_id', 'h1n1_vaccine', 'seasonal_vaccine'])

In [121]:
# Saving Predictions

csv_file.to_csv('Predictions.csv')